<header class="main-header">
    <h1 class="main-header__title" (click)="mainPage()"> 
        <span class="main-header__title--blue">Consulta CEP</span>
    </h1>
    <div class="contanier-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a href="https://github.com/wesleyluz/ConsultaCEP-front">
                        Reposiório desse Projeto
                    </a>
                </li> <li>
                    <a routerLink="**"> UF </a>
                    <!-- <a routerLink="/pesquisaruf">
                       UF
                    </a> -->
                </li>
                <li>
                    <a href="https://github.com/wesleyluz/Consultar_CEP_CSharp">
                        <i class="devicon-csharp-plain"></i>
                        Back-end 
                    </a>
                </li>
                <li>
                    <a href="https://github.com/wesleyluz/Consultar_CEP_S"> 
                        <i class="fa-brands fa-java"></i>
                        Back-end
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/wesley-araujo-costa-luz-19095b127/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://github.com/wesleyLuz"><i class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
