<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Este site é para portifólio contendo requisições ao back-end, eles foram feitos em C# e Java e podem ser encontrados no github, links disponíves no header.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-envelope"></i> <a href="mailto:wesley.araujo.50@gmail.com">wesley.araujo.50@gmail.com</a>
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
